# Virtual environment - KHÔNG push
.venv/
.env/
venv/
env/
ENV/

# Python cache
__pycache__/
.fastembed_cache/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml
