langchain-qdrant
langchain_text_splitters
minio
qdrant-client
langchain_huggingface
langchain
streamlit
psycopg2-binary
langchain-openai
langchain-core
langchain_classic
langchain-tavily
ragas
fastembed
